#example for backend/.env
#secret key used to sign authentication tokens
AUTH_SECRET_KEY=your-secret-key

#algorithm used to sign JWT tokens .e.g HS256
AUTH_ALGORITHM=your-auth-algo

#base url for frontend or api consumer .e.g. http://localhost:3000
API_URL=your-frontend-url

#example database url is below
#DATABASE_URL=postgresql://user:password@localhost:5432/database
DATABASE_URL=your-database-url